::-webkit-scrollbar{
  background: transparent;
}

body{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.grade{
  display: grid;
  gap: 8px;
}

.grade > div{
  border: 5px solid  #ffadad;
}

.grade span{
  border: 5px solid #ffd6a5;

}

.colunas{
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 2fr 1fr;
}

.colunas > div{
  border: 5px solid #fdffb6;
}

.colunas span{
  border: 5px solid #caffbf;
}

.linhas{
  display: grid;
  grid-template-rows: 1fr 2fr 3fr 1fr;
  gap: 8px;

  margin-bottom: 5rem;
}

.linhas > div{
  border: 5px solid #9bf6ff;
}

.linhas span{
  border: 5px solid #a0c4ff;
}

.area{
  display: grid;

  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(4, 1fr);

  gap: 8px;

}

.area header{
  border: 5px solid  #ffadad;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  grid-row: 1/5;
}

.area aside{
  border: 5px solid  #caffbf;

  display: flex;
  justify-content: center;
  align-items: center;

  grid-column: 2/4;
  grid-row: 1/4;
}

.area main{
  border: 5px solid  #ffd6a5;

  display: flex;
  justify-content: center;
  gap: 1rem;
  
}

.area footer{
  border: 5px solid  #bdb2ff;

  display: flex;
  justify-content: center;
  align-items: center;
}