*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar{
  background: transparent;
}






.spacing{
  background: cornflowerblue;

  width: 30%;
  height: 50rem;

  display: grid;
  gap: 8px;

  margin-top: 10px;

  grid-auto-rows: 1fr 2fr;
}














.spacing span{
  
  border: 5px solid #f9b2ff;
  
  background: white;
}