::-webkit-scrollbar{
  background: transparent;
}

body{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.grade{
  display: grid;
  gap: 8px;
}

.grade > div{
  border: 5px solid  #ffadad;
}

.grade span{
  border: 5px solid #ffd6a5;
}

.colunas{
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 2fr 1fr;
}

.colunas > div{
  border: 5px solid #fdffb6;
}

.colunas span{
  border: 5px solid #caffbf;
}

.linhas{
  display: grid;
  grid-template-rows: 1fr 2fr 3fr 1fr;
  gap: 8px;

  margin-bottom: 5rem;
}
a
.linhas > div{
  border: 5px solid #9bf6ff;
}

.linhas span{
  border: 5px solid #a0c4ff;
}

.area{
  display: grid;
  
  height: 15rem;

  grid-template-areas:
  " header  header header "
  " aside   main    main  "
  " footer  footer footer "
  ;
  gap: 8px;
}

.area header{
  border: 5px solid  #ffadad;

  height: 3rem;

  grid-area: header;
}

.area aside{
  border: 5px solid  #caffbf;
  grid-area: aside;
}

.area main{
  border: 5px solid  #ffd6a5;

  grid-area: main;
}

.area footer{
  border: 5px solid  #bdb2ff;

  grid-area: footer;
}